* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pag-home {
  display: grid;
  grid-template:
    "sidenav nav nav" 70px
    "sidenav content content" 100vh
    "sidenav content content" 43px / 200px 1fr;
}

/*sidenav*/
.sidenav {
  grid-area: sidenav;
  background-color: rgb(58, 40, 40);
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
}

.sidenav ul {
  list-style: none;
}

.sidenav li {
  color: #f2f2f2;
  font-size: 13px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.sidenav h2 {
  color: #fff;
  font-size: 14;
  margin-bottom: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.sidenav li i {
  margin-right: 4px;
  font-size: 15px;
}

/*sidenav-fim*/

.nav {
  grid-area: nav;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.nav h2 {
  font-size: 16px;
  color: rgb(58, 40, 40);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-left: 5px;
}

.nav p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #c5b8b8;
  margin-top: 5px;
}

.nav .logo {
  display: flex;
  align-items: center;
}

.nav .logo i {
  font-size: 20px;
}

.content {
  grid-area: content;
  background-color: #eedfdf;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.content .container {
  max-width: 1140px;
  width: 100%;
  height: 500px;
  background-color: #fff;
  border-radius: 3px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.content .container-user {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: solid 1px #eedfdf;
}

.content .container-user p {
  font-size: 14px;
  color: rgb(58, 40, 40);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.container .container-user .container-buttons {
  display: flex;
}

.content .container-user button {
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  color: #fff;
  background-color: rgb(58, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 10px;
}

.content .container input {
  height: 40px;
  width: 605px;
  border: solid 1px #eedfdf;
  padding-left: 10px;
  border-radius: 5px;
  position: absolute;
  outline: none;
}

.content .container .search i {
  position: absolute;
  right: 10px; 
  top: 13px;
  font-size: 20px;
  color: rgb(58, 40, 40);

}

.content .container input::placeholder {
  color: #c5b8b8;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
} 


.content  .container .search {
  position: relative;
  width: 605px;
  height: 40px;
  margin-bottom: 40px;
}